.Room{
    background-image: url("/resources/room.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__lamps{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        z-index: 5;
    }

    &__fondoImg{
        width: 100%;
        height: 100%;
    }

    &__furniture{
        width: 30%;
        position: absolute;
        bottom: 65px;
        z-index: 5;

        &Img{
            width: 100%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__picture{
        width: 18%;
        position: absolute;
        top: 140px;
        z-index: 4;

        &Img{
            width: 100%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }


    &__floor{
        width: 80%;
        height: 100%;
        z-index: 3;
        position: absolute;
        bottom: 0;

        &Img{
            width: 100%;
            height: 100%;
        }
    }

    
}

.imgLamps{
    display: flex;
    width: 15%;
    height: auto;
    margin-top: 20px;

    &__lamp{
        width: 100%;
        height: 100%;
    }
}