.optionOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__first{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &Range {
            width: 70% !important;
            color: #0E4863 !important;
        }

        &Luminity{
            font-family: Archivo;
            font-style: normal;
            color: #C9DDFF;
            font-size: 22px;
            font-weight: 200;
        }

        &Price{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            &Title{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
            }

            &Number{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
            }
        }
    }

    &__second{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        &Lamps{
            font-family: Archivo;
            font-style: normal;
            color: #C9DDFF;
            font-size: 22px;
            font-weight: 200;
            margin-top: 0px;
        }
        
        &Price{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            &Title{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
            }

            &Number{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
            }
        }
    }
}
.MuiFormControl-root{
    width: 60%;
}

.MuiSelect-icon{
    color: #C9DDFF !important;
}

.MuiFormLabel-root{
    color: #C9DDFF !important;
}

.MuiSelect-select.MuiSelect-select{
    color: #C9DDFF !important;
}

.MuiInput-underline:before{
    border-bottom: 1px solid #C9DDFF !important;
}