.optionSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__first{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        &Painting{
            font-family: Archivo;
            font-style: normal;
            color: #C9DDFF;
            font-size: 22px;
            font-weight: 200;
        }

        &Price{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            &Title{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 15px;

            }

            &Number{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }

    &__second{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &Material{
            font-family: Archivo;
            font-style: normal;
            color: #C9DDFF;
            font-size: 22px;
            font-weight: 200;
            margin-top: 0px;
        }
        
        &Price{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            &Title{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
                margin-top: 10px;
            }

            &Number{
                color: #C9DDFF;
                font-family: Dosis;
                font-style: normal;
                font-size: 18px;
                margin-top: 10px;

            }
        }

        &Texture{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;

            &Img{
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                &Btn{
                    width: 60%;
                    height: 80%;
                    border-radius: 50%;
                    background-color: #C9DDFF;
                    border: none;
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img{
                        width: 80%;
                    }
                }
            }
        }
    }

}


.github-picker {
    background: #0E4863 !important;
    & div {
        border-color: transparent transparent #0E4863 !important;
    }
    
}